body{
  font-family: Monospace;
}

h3{
  font-style: italic;
}

#gabePic{
  width: 1000px;
  padding-top: 30px
}

#gabeInfo{
  padding-top: 30px;
}

#mainWell{
  background-color: #999795;
}

#game-well{
  background-color: white;
}

#bio-well{
  background-color: white;
}

ul{
  display: inline-block;
  text-align: left;
}