            body{
                background-color: #f4f4f4;
            }

            h1{
                color: white;
            }

            .navbar-custom{
                background-color: #45bce8;
            }

            .section-title{
                text-align: left;
                color: black;
                padding-top: 20px;
                padding-left: 35px
            }

            .project-title{
                font-size: 17px;
            }

            .contact-input{
                padding-left: 60px;
                padding-top: 30px;
            }

            .input-form{
                padding-top: 10px;
            }

            .social-media-link-format{
                padding-left: 10px;
                padding-right: 10px;
            }

            #my-slogan{
                font-style: italic;
            }

            #about{
                padding-top: 30px;
            }

            #about-well{
                width: 75%;
            }

            #about-me-par{
                font-size: 20px;
                padding-left: 150px;
                padding-top: 100px;
            }

            #navbar-anchor{
                color: white;
            }

        </style>