.content-row{
  text-align: center;
}

.content-col{
  display: inline-block;
}

.custom-button{
  width: 150px;
}

.round-corners{
  border-radius: 10px;
}

body{
  background-color: #0073a0;
}

#buttonRow{
  padding-top: 15px;
  padding-bottom: 20px;
}

#wikiSearchRow{
  padding-top: 30px;
}

#searchButton{
  margin-right: 50px;
}

#titleText{
  color: white;
  font-family: Lobster;
  font-size: 50px;
}

#titleRow{
  padding-top: 150px;
}

#wikiSearch{
  width: 250px;
}
