body{
  background-size: 100% auto;
  background-image: url('https://s17.postimg.org/t3g3d60mn/5wjp_Nu_T-4k-resolution-wallpaper.jpg');
  background-repeat: no-repeat;
}

#headingJumbotron{
  background-color: #183447;
  background: linear-gradient(rgba(24, 52, 71, 1), rgba(24, 52, 71, 0));
  color: white;
}

#quoteContainer{
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
  background-color: #183447;
  background: radial-gradient(ellipse closest-side at 50% 50%, rgba(24, 52, 71, 1), rgba(24, 52, 71, 0));
}

.button-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#quoteText{
  color: white;
  font-size: 30px;
}